

     {% extends "mpla/main.html" %}


{% block navi %}
 <li class="li2"> <a href="/mpla/planete"> planete </a></li>
{% endblock %}

{% block content %}


<style>
{% load static %}
body{background:url({% static 'mpla/stars.png' %});background-color:black;}
</style>

 {% for l in liste %}


 {% if l.image_galaxie %}


<ul class="ul1">
<h1>   {{l.nom}}</h1>
<img src="{{l.image_galaxie.url}} " class="pcimg">
{% endif %}


    <li class="li1">
     type: {{l.type}} <br> Taille :{{l.taille_s}}<br> Distance par rapport au systeme solaire:{{l.distance}} <br> Date de decouverte :{{l.date_de_decouverte|date:"d/m/Y"}}

        <button name="button"><a href="/mpla/affiche/{{l.id}}"> afficher les détails | </a></button> <br>
        <button name="button"><a href="/mpla/delete/{{l.id}}"> effacer | </a></button> <br>
<button name="button"><a href="/mpla/update/{{l.id}}"> update </a></button>   </li>

<p> le systeme {{pla}} (ceci et le id {{pla.id}} )</p>

</ul>

  {%endfor%}





     <h1> {{galaxie.nom}}</h1>

 {% if galaxie.image_galaxie %}


<ul class="ul1">
<h1>   {{galaxie.nom}}</h1>
<img src="{{galaxie.image_galaxie.url}} " class="pcimg">
{% endif %}


    <li class="li1">
     type: {{galaxie.type}} <br> Taille :{{galaxie.taille_s}}<br> Distance par rapport au systeme solaire:{{galaxie.distance}} <br> Date de decouverte :{{galaxie.date_de_decouverte|date:"d/m/Y"}}

        <button name="button"><a href="/mpla/affiche/{{l.id}}"> afficher les détails | </a></button> <br>
        <button name="button"><a href="/mpla/delete/{{l.id}}"> effacer | </a></button> <br>
<button name="button"><a href="/mpla/update/{{l.id}}"> update </a></button>   </li>

<p> le systeme {{pla}} (ceci et le id {{pla.id}} )</p>

</ul>




                            {% if mpla.image_galaxie %}
                            <img src="{{mpla.image_galaxie.url}}"  width=500>

                            {% endif %}









  {% for l in liste2 %}


        <div class=flexible>
          <div>
          <h2>{{l.nom}}</h2>
            {{l.nom}} <br> {{l.date_de_decouverte|date:"d/m/Y"}}

              <br>
              {{l.vitesse}}
              {{l.nom}}
              {{l.id}}
              <button name="button"><a href="/mpla/delete2/{{l.id}}"> effacer | </a></button>
                            <button name="button"><a href="/mpla/update2/{{l.id}}"> update </a></button>
          </div>
{% if l.image_planete %}
          <div>
          <img src="{{l.image_planete.url}} "  width=500>
{% endif %}       </div>
      </div>

      <div class="clearboth"></div>
      <aside class="hh"></aside>
 {%endfor%}





                            {% if mpla.image_galaxie %}
                            <img src="{{galaxie.image_galaxie.url}}">

                            {% endif %}








{% endblock %}
