

{% extends "mpla/main.html" %}








{% block content %}


<style>
{% load static %}
body{background:url({% static 'mpla/stars.png' %});background-color:black;}
</style>

 {% for l in liste %}


 {% if l.image_galaxie %}


<ul class="ul1">
<h1>   {{l.nom}}</h1>
<img src="{{l.image_galaxie.url}} " class="pcimg">
{% endif %}


    <li class="li1">
     type: {{l.type}} <br> {{l.taille_s}}{{l.vitesse}}<br>{{l.distance}} <br>{{l.date_de_decouverte|date:"d/m/Y"}}

        <button name="button"><a href="/mpla/affiche/{{l.id}}"> afficher les détails | </a></button> <br>
        <button name="button"><a href="/mpla/delete/{{l.id}}"> effacer | </a></button> <br>
<button name="button"><a href="/mpla/update/{{l.id}}"> update </a></button>   </li>


</ul>
  {%endfor%}
{% endblock %}


