<!DOCTYPE html>
<html lang="fr">
<head>

{% extends "mpla/main.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'mpla/style.css' %}">
<title>{% block title %}Mon Sit45645e {% endblock %} </title>
</head>

<body>



</body>
{%block content %}
            <section class="pc">
                      <ul>
                        <li>
                          <img src="" class="pcimg">
                          <div class="carrer">
                            <u><h3 class="catitre">Titre</h3></u>

                        <ol>
                            {% for l in liste %}
                                <li> {{l}} date de parution {{l.date_de_decouverte|date:"d/m/Y"}} <button name="button"><a href="/mpla/affiche/{{l.id}}"> afficher les détails | </a></button> <button name="button"><a href="/mpla/delete/{{l.id}}"> effacer | </a></button>
                            <button name="button"><a href="/mpla/"> update </a></button></li>
                            {%endfor%}
                        </ol>
                            </div>
                        </li>
                        <li>
                          <img src="" class="pcimg">
                          <div class="carrer">
                            <u><h3 class="catitre">Titre</h3></u>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni odit rerum exercitationem quaerat quis voluptate asperiores! Eligendi, soluta. Quaerat adipisci maos recusandae nobis distinctio nisi</p>
                            <p>    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni odit rerum exercitationem quaerat quis voluptate asperiores! Eligendi, soluta. Quaerat adipisci maos recusandae nobis distinctio nisi   </p>
                          </div>
                        </li>
                      </ul>

                    </section>
{% endblock%}

</html>

