

{% extends "mpla/main.html" %}








{% block content %}




 {% for l in liste %}


 {% if l.image_galaxie %}


<ul class="ul1">
<h1>   {{l.nom}}</h1>
<img src="{{l.image_galaxie.url}} " class="pcimg" width=500>
{% endif %}


    <li class="li1">
        {{l.taille_s}} {{l.vitesse}} {{l.type}}
{{l.distance}} <br>{{l.date_de_decouverte|date:"d/m/Y"}}  <button name="button"><a href="/mpla/affiche/{{l.id}}"> afficher les détails | </a></button> <button name="button"><a href="/mpla/delete/{{l.id}}"> effacer | </a></button>
<button name="button"><a href="/mpla/update/{{l.id}}"> update </a></button>   </li>


</ul>
  {%endfor%}
{% endblock %}


