<!DOCTYPE html>
<html lang="fr">
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'mpla/style.css' %}">
<title>{% block title %}L'univers {% endblock %} </title>
</head>


<header class="entetesite">
    <h1>Quelle planete y'a t'il dans la galaxie?   </h1>




    <div class="baree">
        <div class="nav">

            <div class="nav-bar">
                <ul class="ul2">
                  <li class="li2"><a href="/mpla/home"> Accueil </a></li>
                  <li class="li2"><a href="/mpla/ajout"> Galaxie </a></li>





{% block navi %}

{% endblock %}
      </ul>
</div>
</div>
</div>

</header>
<div class="main">
    {% block content %}

    {% endblock%}
</div>
</html>